<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <% for(let message of messages) { %>
    <div>
      <h2><%= message.text %></h2>
      <p><%= message.user %></p>
      <p><%= message.added %></p>
    </div>
    <% } %>
    
  </body>
</html>
